GE_PLUGIN_SLUG=tbz-csv
GE_CSV_HEADERS="Gebiet,Straße,BaumNr.,Gattung/Art,Hochwert,Rechtswert,Pflanzjahr"
GE_CSV_USED_EPSG="EPSG:31467"
GE_CSV_TO_EPSG="EPSG:4236"

GE_HOST_PATH=http://localhost:3000
GE_PLUGIN_PATH=http://localhost:1223
GE_CLIENT_ID=tbz-csv-import-plugin
GE_CLIENT_SECRET=<secret>
